@import "../stylesheets/variables.scss";

.trades-search-container {
	display: flex;
}

.trades-search-group {
	display: flex;
	align-items: center;
	
	&:not(:first-child) {
		margin-left: 10px;
	}

	.date-picker-container {
		margin-left: 10px;
	}
}

.filter-button {
	border-radius: 5px;
	padding: 2.5px 10px;

	&.selected {
		color: $christmas-green;
		border: solid 2px $christmas-green;
	}

	&.not-selected {
		border: solid 1px black;
	}

	&:not(:first-child) {
		margin-left: 10px;
	}
}

.trades-item-container {
	display: flex;
	margin-top: 25px;
}

.trades-item-group {
	display: flex;
	margin-right: 50px;
	width: 100%;
	text-align: center;
	.noflow {
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
	}

	.trades-item__small {
		max-width: 75px;
		width: 100%;
		padding: 2.5px;
	}

	.trades-item__medium {
		max-width: 150px;
		width: 100%;
		padding: 2.5px;
	}

	.trades-item__large {
		max-width: 450px;
		width: 100%;
	}

	.trades-item:last-child {
		margin-left: auto;
	}

	.green {
		color: $lime-green;
	}

	.red {
		color: $maximum-red;
	}
}

.trades-header {
	display: flex;
}

