@import "../stylesheets/variables.scss";

.calendar-container {
	.day {
		min-height: 75px;
		width: 20%;
		border: solid 1px black;
	}

	.week-container {
		display: flex;
	}

    .month-name {
        text-align: center;
    }
}

