@import "../stylesheets/variables.scss";

.calendar-container {
	.day {
		min-height: 75px;
		min-width: 50px;
		width: 100%;
		border: solid 1px black;

	}

	.week-container {
		display: flex;
	}
}

