$topbar-height: 56px;
$leftpanel-width: 100px;
$leftbar-padding: 15px;
$background-url: "../assets/img-noise-361x370.png";
$maximum-red: #DC1E19;
$lime-green: #32CD32;
$christmas-green: #007502;
$journal-header: 28px;

$blaze-orange: #FF6000;
$ukraine-blue: #277BC0;

$mini-month: #A1B37F;
$mini-month-active: #865439;

$mini-red-1: #FFDBDB;
$mini-red-2: #FFA5A5;
$mini-red-3: #FF7373;
$mini-red-4: #FE3838;

/*
$mini-red-1: #FFB4B4;
$mini-red-2: #F27575;
$mini-red-3: #EA3E3E;
$mini-red-4: #BC0000;
*/

$mini-green-1: #D5FFE3;
$mini-green-2: #B4FFCD;
$mini-green-3: #76FFA3;
$mini-green-4: #1CFF66;

$mini-default: #E9D4BF;

$mini-day-hover-bg: #ECC9EE;
