@import "../stylesheets/variables.scss";

.nav-bar {
	position: fixed;
	padding: $leftbar-padding;
	.nav-bar-item:not(:first-child) {
		margin-top: 4px;
	}
	@media only screen and (max-width: 500px) {
		bottom: 0;
		width: 100%;
		display: flex;
		flex-direction: row;
	}
}
.nav-link {
	display: flex;
	align-items: center;

	svg {
		margin-right: 6px;
	}
}
