@import "../stylesheets/variables.scss";

.nav-bar {
	height: auto;
	position: fixed;
	padding: $leftbar-padding;
	height: 100%;
	
	.nav-bar-item:not(:first-child) {
		margin-top: 4px;
	}
}
.nav-link {
	display: flex;
	align-items: center;

	svg {
		margin-right: 6px;
	}
}
