@import "../stylesheets/variables.scss";

.top-bar {
	position: fixed;
	display: flex;
	justify-content: end;
	top: 0;
	left: 0;
	background-color: white;
	border: solid 1px black;
	width: 100%;
}

.top-bar-items {
	padding: 15px;
}

