@import "../stylesheets/variables.scss";

.top-bar {
	position: fixed;
	display: flex;
	justify-content: end;
	background-color: white;
	border: solid 1px black;
	max-width: 1280px;
	width: 100%;
	background-image: url("../assets/img-noise-361x370.png");
	z-index: 99;
}

.top-bar-items {
	padding: 15px;
}

