@import "../stylesheets/variables.scss";

.journal-item-container {
	border-bottom: solid 1px black;
	padding: 5px;

	&:not(:first-child) {
		margin-top: 10px;
	}

	.journal-item-header {
		font-size: $journal-header;
		margin-bottom: 15px;
	}

	.journal-item-main {
		@media only screen and (max-width: 500px) {
			> .journal-item-main__item:not(:first-child) {
				margin-top: 15px;
			}
		}
		@media only screen and (min-width: 500px) {
			display: flex;
			justify-content: space-around;

			> .journal-item-main__item:not(:first-child) {
				//margin-left: 50px;
			}
		}
	}

	.journal-item-notes-container {
		word-break: break-word;
	}

	.journal-item-info-button {
		&:hover {
			cursor: pointer;
		}
	}

	.gross-pnl {
		font-size: 24px;
		font-weight: bold;
	}
}

.img-loading {
	background: transparent url('../assets/totoro-loader.gif') center no-repeat;
	background-size: 300px;
	min-height: 300px;
}

